


@if(User.Identity.IsAuthenticated){
    
<ul class="nav navbar-nav">
	<li><a href="#"><i class="fa fa-user"></i> Hesabım</a></li>
	<li><a href="#"><i class="fa fa-star"></i> Favorilerim</a></li>
	<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Sepetim <span class="badge">@ViewBag.Quantity</span> </a></li>
	<li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-unlock"></i> Çıkış Yap</a></li>
</ul>
}
else{
	<ul class="nav navbar-nav">
		<li><a asp-controller="Account" asp-action="Index"><i class="fa fa-star"></i> Favorilerim</a></li>
		<li><a asp-controller="Account" asp-action="Index"><i class="fa fa-shopping-cart"></i> Sepetim <span class="badge"></span> </a></li>
		<li><a asp-controller="Account" asp-action="Index"><i class="fa fa-lock"></i> Giriş Yap/Kayıt Ol</a></li>
	</ul>
}
