@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace ECommerce.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <!-- Helpers -->
    @*<script src="sneat/assets/vendor/js/helpers.js"></script>

    <script src="sneat/assets/js/config.js"></script>*@

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    

    <script src="molla/assets/js/jquery.min.js"></script>
    <script src="molla/assets/js/bootstrap.bundle.min.js"></script>
    <script src="molla/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="molla/assets/js/jquery.waypoints.min.js"></script>
    <script src="molla/assets/js/superfish.min.js"></script>
    <script src="molla/assets/js/owl.carousel.min.js"></script>
    <script src="molla/assets/js/jquery.plugin.min.js"></script>
    <script src="molla/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="molla/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="molla/assets/js/main.js"></script>
    <script src="molla/assets/js/demos/demo-2.js"></script>


    @*<script src="sneat/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="sneat/assets/vendor/libs/popper/popper.js"></script>
    <script src="sneat/assets/vendor/js/bootstrap.js"></script>
    <script src="sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="sneat/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="sneat/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="sneat/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="sneat/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="sneat/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="sneat/assets/vendor/libs/plyr/plyr.js"></script>

    <!-- Main JS -->
    <script src="sneat/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="sneat/assets/js/extended-ui-media-player.js"></script>

    <!-- Page JS -->
    <script src="sneat/assets/js/dashboards-analytics.js"></script>*@

    
</body>
</html>
