@using ECommerce.Application.Features.Auth.Commands.Login;
@model LoginCommandRequest


<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email">Email Adresiniz *</label>
        <input type="text" class="form-control"asp-for="Email" required>
    </div><!-- End .form-group -->

    <div class="form-group">
        <label asp-for="Password">Parola *</label>
        <input type="password" class="form-control" asp-for="Password" required>
    </div><!-- End .form-group -->

    <div class="form-footer">
        <button type="submit" class="btn btn-outline-primary-2">
            <span>Giriş Yap</span>
            <i class="icon-long-arrow-right"></i>
        </button>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="signin-remember">
            <label class="custom-control-label" for="signin-remember">Beni Hatırla</label>
        </div><!-- End .custom-checkbox -->

        <a href="#" class="forgot-link">Parolanı mı unuttun?</a>
    </div><!-- End .form-footer -->
</form>
<div class="form-choice">
    <p class="text-center">veya</p>
    <div class="row">
        <div class="col-sm-6">
            <a href="#" class="btn btn-login btn-g">
                <i class="icon-google"></i>
                Google ile giriş yapın
            </a>
        </div><!-- End .col-6 -->
        <div class="col-sm-6">
            <a href="#" class="btn btn-login btn-f">
                <i class="icon-facebook-f"></i>
                Facebook ile giriş yapın
            </a>
        </div><!-- End .col-6 -->
    </div><!-- End .row -->
</div><!-- End .form-choice -->
