@using ECommerce.Application.Features.Products.Commands.CreateProduct
@model CreateProductCommandRequest
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ürün Yönetimi /</span> Ürün Ekle</h4>
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-12">
                        <div class="card-body">
                            <form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div class="card-body">
                                            <div class="form-group mb-5">

                                                <label for="brandList" asp-for="BrandId">Kategori</label>
                                                <select id="brandList" class="form-control" asp-for="BrandId" asp-items="@(new SelectList(Model.Brands,"Id","Name"))">
                                                </select>
                                                <span asp-validation-for="BrandId" class="text-danger"></span>

                                            </div>
                                            <div class="form-group mb-5">
                                                <label for="productName" asp-for="Name">Ürün adı:</label>
                                                <input type="text" id="productName" class="form-control" placeholder="Ürün adını giriniz." asp-for="Name" />
                                                <span asp-validation-for="Name" class="text-danger "></span>
                                            </div>
                                            <div class="form-group mb-5">
                                                <label for="productPrice" asp-for="Price">Ürün Fiyatı</label>
                                                <input type="text" id="productPrice" class="form-control" placeholder="Ürün fiyatını giriniz." asp-for="Price" />
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>

                                            @*<div class="form-group mb-5">
                                                <div class="col-md-10">
                                                    <label for="articlePhoto" style="display:block;margin-bottom:30px;" asp-for="Photo">Resim Seçiniz:</label>
                                                    <input for="articlePhoto" accept="image/*" type="file" name="Photo" asp-for="Photo" />
                                                </div>
                                            </div>*@
                                            @*<div class="form-check mb-5">
                                                <input type="checkbox" checked id="isActive" class="form-check-input" asp-for="IsActive" />
                                                <label for="isActive" class="form-check-label" asp-for="IsActive">Aktif mi?</label>
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </div>*@
                                            <div class="form-group mb-5">

                                                <label style="display:block;margin-bottom:30px;" asp-for="Photos">Resim Seçiniz:</label>
                                                <input accept="image/*" type="file" multiple asp-for="Photos" />

                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block mt-4">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form>
                        <label style="display:block">Kategori İsmi :</label>
                        <input class="" type="text" id="categoryName" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" data-keyboard="false" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@
@section Scripts{
    <script src="~/lib/ckeditor/build/ckeditor.js"></script>
    <script src="~/AdminJs/articleAdd.js"></script>

    @*<script>
        var app = app || {};
        app.Urls = app.Urls || {};
        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.categoryAddUrl = "@(Url.Action("AddWithAjax", "Category"))";
        app.Urls.articleAddUrl = "@(Url.Action("Add", "Article"))";
    </script>*@

    <script>
        function readURL(input) {
            for (let i = 0; i < input.files.length; i++) {
                let fileName = input.files[i].name;
                let mimeType = input.files[i].type;
                let fileString;
                let reader = new FileReader();
                reader.readAsDataURL(input.files[i])
                reader.onload = function (e) {
                    fileString = e.target.result.split(',')[1]
                    advertFileArray.push({ "DocumentBody": fileString, "FileName": fileName, "MimeType": mimeType });

                    var pattern = `
                                    <li class="item sortable" style='float:left;'>
                                        <div class="front">
                                            <img src="${e.target.result}" orderNumber="0" default="false" class="img-preview">
                                        </div>
                                        <div class="back">
                                            <a href="javascript:;" class="deleteItem">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>`;

                    $(document).find("ul.uploadList").append(pattern);
                }
            }
        }
    </script>

}