<form action="#">
    <div class="form-group">
        <label for="register-email">Your email address *</label>
        <input type="email" class="form-control" id="register-email" name="register-email" required>
    </div><!-- End .form-group -->

    <div class="form-group">
        <label for="register-password">Password *</label>
        <input type="password" class="form-control" id="register-password" name="register-password" required>
    </div><!-- End .form-group -->

    <div class="form-footer">
        <button type="submit" class="btn btn-outline-primary-2">
            <span>SIGN UP</span>
            <i class="icon-long-arrow-right"></i>
        </button>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="register-policy" required>
            <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
        </div><!-- End .custom-checkbox -->
    </div><!-- End .form-footer -->
</form>
<div class="form-choice">
    <p class="text-center">or sign in with</p>
    <div class="row">
        <div class="col-sm-6">
            <a href="#" class="btn btn-login btn-g">
                <i class="icon-google"></i>
                Login With Google
            </a>
        </div><!-- End .col-6 -->
        <div class="col-sm-6">
            <a href="#" class="btn btn-login  btn-f">
                <i class="icon-facebook-f"></i>
                Login With Facebook
            </a>
        </div><!-- End .col-6 -->
    </div><!-- End .row -->
</div><!-- End .form-choice -->