@using ECommerce.Application.Features.Products.Queries.GetAllProducts;
@model IList<GetAllProductsQueryResponse>

@{
    Layout = null;
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@if(Model != null)
{
    @foreach (var item in Model)
    {
        @item.Name
        @User.Identity.Name
    }
}
else
{
    <p>bulamadık</p>
    @User.Identity.Name
}
