<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


    <div class="app-brand demo ">
        <a href="index-2.html" class="app-brand-link">
            <span class="app-brand-logo demo">


            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">geptr.com</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>



    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active ">
            @*<a href="" class="">*@
                <NavLink class="menu-link nav-link" href="admin/products">
                    <i class="menu-icon tf-icons bx bxs-dashboard"></i>
                    <div>Gösterge Paneli</div>
                </NavLink>
                @*<a href="javascript:void(0);" class="menu-link menu-toggle">*@
                
            @*</a>*@
        </li>

        <!-- Apps & Pages -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">EĞİTİMLERİM</span>
        </li>
        <li class="menu-item">
            <a asp-area="Platform" asp-controller="Education" asp-action="GreenEnergy" class="menu-link">
                <i class="menu-icon tf-icons bx bx-leaf"></i>
                <div>Yeşil Enerji</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="app-calendar.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-wind"></i>
                <div>Sürdürülebilir Enerji</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="app-calendar.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-buildings"></i>
                <div>Sektörel Uzmanlık Eğitimi (İnşaat)</div>
            </a>
        </li>
        <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">BAŞARIMLARIM</span></li>
        <!-- Cards -->

        <li class="menu-item">
            <a href="app-calendar.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-test-tube"></i>
                <div>Sınavlarım</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="app-calendar.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-badge-check"></i>
                <div>Rozetlerim</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="app-calendar.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-map-alt"></i>
                <div>Yol Haritam</div>
            </a>
        </li>
    </ul>
</aside>