@using ECommerce.Application.Features.Auth.Commands.Login;
@model LoginCommandRequest
<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Kayıt olun.</h2>
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>


                        <input asp-for="Email" type="text" placeholder="İsim" />
                        <input asp-for="Password" type="password" placeholder="İsim" />



                        <button type="submit" class="btn btn-default">Kayıt ol</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}