@using ECommerce.Application.Features.Brands.Queries.GetAllBrands;
@model IList<GetAllBrandsQueryResponse>
<div class="brands_products">
	<!--brands_products-->
	<h2>Markalar</h2>
	<div class="brands-name">
		<ul class="nav nav-pills nav-stacked">
			@foreach (var brands in Model)
			{
				<li><a href="@brands.Id"> <span class="pull-right">(@Model.Count())</span>@brands.Name</a></li>
			}
		</ul>
	</div>
</div><!--/brands_products-->